body {
    background: #1b2838; /* Old browsers */
    background: -moz-linear-gradient(left, #1b2838 0%, #00284d 50%, #1b2838 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1b2838 0%, #00284d 50%, #1b2838 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1b2838 0%, #00284d 50%, #1b2838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.card-map {
    height: 35rem;
    padding: 0rem;
}

.card-map-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.card-map-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.div-content {
    max-width: 1100px;
    width: 100%;
    padding-bottom: 10px;
    margin: auto;
}

.btn-middle {
    margin-bottom: 0;
}

.select-year {
    width: 100%;
    margin: auto;
}

.jumbotron {
    background: white;
    padding-bottom: 0;
    padding-top: 24px;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;
}

.m-y-2 {
    margin-top: 24px;
    margin-bottom: 0;
}

/**
 * Bootstrap nav bar
 */

.navbar-default {
    background-color: #ffffff;
    border-color: #FFFFFF;
    border-radius: 0;
    margin-bottom: 0.75rem;
}

.navbar-default .navbar-brand {
    color: #3a84bd;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #225b87;
}

.navbar-default .navbar-text {
    color: #3a84bd;
}

.navbar-default .navbar-nav > li > a {
    color: #3a84bd;
    margin-right: 2rem;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #225b87;
    /*
    -webkit-box-shadow:inset 0px -4px 0px 0px #225b87;
    -moz-box-shadow:inset 0px -4px 0px 0px #225b87;
    box-shadow:inset 0px -4px 0px 0px #225b87;
    */
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #3a84bd;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #225b87;
    background-color: #3a84bd;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #3a84bd;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #225b87;
    background-color: #3a84bd;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #225b87;
    background-color: #3a84bd;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #225b87;
    background-color: #3a84bd;
}

.navbar-default .navbar-toggle {
    border-color: #3a84bd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3a84bd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3a84bd;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #3a84bd;
}

.navbar-default .navbar-link {
    color: #3a84bd;
}

.navbar-default .navbar-link:hover {
    color: #225b87;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #3a84bd;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #225b87;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #225b87;
        background-color: #3a84bd;
    }
}

.nav-center {
    margin: auto;
    max-width: 1100px;
}

/**
 * Google maps api
 */

#map {
    height: 35rem;
}

/**
 * Bootstrap slider plugin
 */

.slider.slider-horizontal {
    width: 90%;
    height: 20px;
    margin: auto;
    padding-bottom: 2rem;
}

.slider-selection {
    background: #3a84bd;
}

.slider-track {
    background: lightgray;
}